// nextflow.config

params {
    input_dir  = './data/raw_reads'                // Directory containing raw read files
    output_dir = './results'                       // Directory to store output files
    assay      = 'bulkRNAseq'                      // Assay type (e.g., bulkRNAseq, scRNAseq)
    single_ended = false                           // Set to true if data are single-ended
    ATACseq    = false                             // Set to true if data are ATACseq
    single_cell = false                            // Set to true if data are single-cell data
    number_of_read_files_per_sample = 2            // Number of read files per sample (2 for paired-end)
    md5_file   = null                              // Optional: Provide a file with MD5 checksums
    keep_fastqc_files = false                      // Set to true to keep individual FastQC files
}

// Base container image
process.container = 'docker.io/olabiyi/genelab-utils:1.3.22'

// Default process settings
process {
    executor = 'local'
    scratch = true
    cpus = 1
    memory = '1 GB'
    time = '1h'
}

// Resource labels for specific processes
process {
    withLabel:high_memory {
        cpus = 4
        memory = '16 GB'
        time = '4h'
    }
    withLabel:long_time {
        time = '12h'
    }
}

// Singularity settings
singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$baseDir/singularity_cache"
}



// Include profiles
profiles {
    standard {
        process.executor = 'local'
        includeConfig 'config/executor/default_local.config'
    }
    slurm {
        includeConfig 'config/executor/default_slurm.config'
    }
}