show_analysis_paths: False
show_analysis_time: False

extra_fn_clean_exts:
  - '.read_distribution_out'
  - '.infer_experiment_out'
  - '.geneBodyCoverage.txt'
  - '.infer_expt'
  - '.read_dist'
  - '_raw'
  - '_trimmed'
  - '_qualimap_bam_qc'
  - '_qualimap_rnaseq_qc'


table_sample_merge:
  "Read 1":
    - type: regex
      pattern: "_R1$"
    - type: regex
      pattern: "_R1_HRremoved$"
  "Read 2":
    - type: regex
      pattern: "_R2$"
    - type: regex
      pattern: "_R2_HRremoved$"
  "Read 3":
    - type: regex
      pattern: "_R3$"
    - type: regex
      pattern: "_R3_HRremoved$"
  "Read 4":
    - type: regex
      pattern: "_R4$"
    - type: regex
      pattern: "_R4_HRremoved$"