/*
----------------------------------------------------------------------------------------
    GeneLab Raw Data Validation Nextflow Pipeline (GL-validate-raw-data)
----------------------------------------------------------------------------------------
    Config file for slurm executor (template)
----------------------------------------------------------------------------------------
*/

process {
    executor = 'slurm' // run using local backend
    cpus     = { 2 * task.attempt } // Default
    memory   = { 6.GB * task.attempt } // Default
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'
    cache = 'lenient'
    queueSize = 28 // // Limit number of concurrent tasks ; TO DO: check valid location

    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withName:'CREATE_SAMPLE_SHEET|GZIP_CHECK|MD5SUM|FASTQ_INFO|SOFTWARE_VERSIONS|CONCAT_LOGS|SUMMARY_TABLE' {
        cpus   = { 1                    }
        memory = { 2.GB                 }
    }

    withName:'FASTQC' {
        cpus   = { 2     * task.attempt }
        memory = { 4.GB  * task.attempt }
    }
}