/*
----------------------------------------------------------------------------------------
    GeneLab Raw Data Validation Nextflow Pipeline (GL-validate-raw-data)
----------------------------------------------------------------------------------------
    Config file for slurm executor (template)
----------------------------------------------------------------------------------------
*/

process {
    executor = 'slurm' // run using local backend
    cpus     = { 2 * task.attempt } // Default
    memory   = { 6.GB * task.attempt } // Default
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'
    cache = 'lenient'

    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withName:'CREATE_SAMPLE_SHEET|GZIP_CHECK|MD5SUM|FASTQ_INFO|SOFTWARE_VERSIONS|CONCAT_LOGS|SUMMARY_TABLE' {
        cpus   = { 1                    }
        memory = { 2.GB                 }
    }

    withName:'FASTQC' {
        cpus   = { 2     * task.attempt }
        memory = { 4.GB  * task.attempt }
    }
}

// https://www.nextflow.io/docs/latest/reference/config.html 
executor {
    $slurm {
        queueSize = 32               // Set maximum queueSize
        pollInterval = '1 min'       // Set the time interval between process termination detection polling; default 5 sec
        queueStatInterval = '2 min'  // Set the time interval between queue status checks; default 1 min
        submitRateLimit = '12/1min'  // Set the job submission rate limit; default unlimited
    }
}