// config/executor/default_slurm.config

process {
    executor = 'slurm'
    queueSize = 100
    scratch = 'auto'
}

executor {
    queueSize = 100
    submitRateLimit = '2 sec'
}

process {
    withLabel:high_memory {
        clusterOptions = '--partition=highmem --mem=32GB'
    }
    withLabel:long_time {
        clusterOptions = '--time=24:00:00'
    }
}