/*
----------------------------------------------------------------------------------------
    GeneLab Data Processing RNA-Seq Workflow Nextflow config file
----------------------------------------------------------------------------------------
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Plugins
plugins {
  id 'nf-schema@2.2.0'
}

// Global default params, used in configs
params {
    // Input/Output Options
    input_dir                       = null   // Input directory containing read files
    accession                       = null   // GLDS ID (e.g. "GLDS-480")
    assay                           = null   // Assay type (e.g. "AmpSeq", "bulkRNAseq", etc.)
    hrr                             = false  // True to use alternative HRremoved suffix in file naming
    atacseq                         = false
    single_cell                     = false
    files_per_sample                = 2      // Expected number of read files per sample (e.g., 1 for SE, 2 for PE, 3 or 4 for SC)
    reference_md5_file              = null // Optional: reference read file md5sum to compare against
    
    // MultiQC Config File
    multiqc_config              = "${projectDir}/conf/multiqc.config"
    
    // Boilerplate options
    publish_dir_mode            = 'link' // Published outputs may be symlinks if using containerized environments
    email                       = null
    version                     = false
}

validation {
    help {
        enabled = true
    }
}

// Profiles:
// The following profile definitions are used to set environments for the pipeline.
//  Configs can be used to set executor configs, container profiles, tag and process-specific resource allocations, retry strategies, etc.

// The default executor profile is slurm which is defined under the profile 'slurm'. There is no default container-based profile.
//  To run processes locally, you must set the profile to local with 'nextflow run main.nf ... --profile local'

// By default, the container profile is not set meaning that the local environment is used.
//  The container profile is set using 'nextflow run main.nf ... --profile <profile_name>' 

// Multiple profiles can be set in the nextflow run command, e.g. 'nextflow run main.nf ... --profile <executor_profile>,<container_profile>'

// See https://www.nextflow.io/docs/latest/config.html#config-profiles for more information


profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
        includeConfig 'conf/by_docker_image.config'
    }
    conda {
        conda.enabled           = true
        includeConfig 'conf/by_docker_image.config'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        includeConfig 'conf/by_docker_image.config'
    }
    gitpod {
        executor.name           = 'local'
        executor.cpus           = 4
        executor.memory         = 8.GB
    }
    test          { includeConfig 'conf/test.config'       }
    slurm         { includeConfig 'conf/slurm.config'      } 
    local         { includeConfig 'conf/local.config'      }
}

// Set default registry for Docker and Singularity


manifest {
    name            = 'GeneLab Raw Data Validation Pipeline'
    homePage        = 'https://github.com/nasa/GeneLab_Data_Processing/tree/master/genelab-utils'
    description     = 'Nextflow workflow for validating GeneLab raw sequencing data (GL-validate-raw-data).'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.10.5'
    version         = '0.1.0'
}
